<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./lib/bootstrap-3.3.7.css">
</head>

<body>
    <div id="app">
        <!-- 头部 -->
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">品牌添加</h3>
            </div>
            <div class="panel-body form-inline">
                <label>
                    Brand: <input type="text" class="form-control" v-model='id' v-focus v-color="'pink'">
                </label>
                <label>
                    Name: <input type="text" class="form-control" v-model='name' @keyup.enter='add'>
                </label>
                <input type="button" value="添加" class="btn btn-primary" @click='add'>
                <label>
                    搜索关键字: <input type="text" class="form-control" v-model='keywords' >
                </label>
            </div>
        </div>
        <!-- 表格 -->

        <table class="table table-hover table-bordered">
            <thead>
                <tr>
                    <th>Brand</th>
                    <th>Name</th>
                    <th>ctime</th>
                    <th>delete</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for='(item,index) in search(keywords)'>
                    <td>{{item.id}}</td>
                    <td>{{item.name}}</td>
                    <td>{{item.ctime | dataFormat}}</td>
                    <td><a href="#" @click='del(index)'>delete</a></td>
                </tr>
            </tbody>
        </table>

    </div>


</body>
<script src="./lib/vue-2.4.0.js"></script>
<script>
    // 事件过滤化
    Vue.filter('dataFormat', function (data) {
        var dt = new Date();
        var y = dt.getFullYear();
        var m = (dt.getMonth() + 1).toString().padStart(2, '0');
        var d = (dt.getDate()).toString().padStart(2, '0');
        var h = (dt.getHours()).toString().padStart(2, '0');
        var mm = (dt.getMinutes()).toString().padStart(2, '0');
        var s = (dt.getSeconds()).toString().padStart(2, '0');
        return `${y}-${m}-${d} ${h}:${mm}:${s}`;
    })

    
    // 自定义全局指令
    Vue.directive('focus', {
        bind: function (el, binding) {
            el.focus();
        },
        inserted: function (el, binding) {
            el.focus();
        },
        update: function (el, binding) {

        }
    })
    Vue.directive('color', {
        bind: function (el, binding) {
            el.style.color = binding.value;
        },
        inserted: function (el, binding) {

        },
        update: function (el, binding) {

        }
    })
    

    // 实例化
    let vm = new Vue({
        el: '#app',
        data: {
            id: '',
            name: '',
            keywords:'',
            list: [
                { id: "海底捞", name: '火锅', ctime: new Date() },
                { id: "杨亮", name: '麻辣烫', ctime: new Date() },
                { id: "郭阿姨", name: '荷叶饼', ctime: new Date() },
                { id: "三只小熊", name: '炸鸡', ctime: new Date() },
                { id: "西门", name: '土豆饼', ctime: new Date() },
                { id: "益禾堂", name: '烤奶', ctime: new Date() }
            ]
        },
        methods: {
            // 添加项目
            add() {
                this.list.push({ id: this.id, name: this.name, ctime: new Date() })
            },
            // 删除项目
            del(index) {
                
                this.list.some((item, i) => {
                    if (i === index) {
                        this.list.splice(index, 1)
                    }
                })
            },

            // 搜索
            search(keywords){
                return this.list.filter(item=>{
                    if(item.name.includes(keywords)){
                        return item;
                    }
                })
            }
        }
    })
</script>

</html>